应用层
    DHCP
    HTTP
    HTTPS
    RTMP
    P2P
    DNS
    GTP
    RPC
传输层
    UDP
    TCP
网络层
    ICMP 侦察兵
    IP
    OSPF
    BGP
    IPSec
    GRE
链路层
    ARP ip => mac
    VLAN 虚拟局域网 隔离
    STP 将复杂的交换机 图转换为树
物理层
    网络跳线

主要在网络上跑的包，都是完整的，可以有下层没上层，绝对不可能有上层没下层。

IP 地址是一个网卡在网络世界的通讯地址，相当于我们现实世界的门牌号码。
MAC 地址更像是身份证，是一个唯一的标识。

10.100.122.2/24，这个 IP 地址中有一个斜杠，斜杠后面有个数字 24。这种地址表示形式，就是 CIDR。后面 24 的意思是，32 位中，前 24 位是网络号，后 8 位是主机号。
10.100.122是网络号 10.100.122.1是出口地址 10.100.122.255是广播地址

IP 分公有的 IP 和私有的 IP。



无类型域间选路（CIDR）
    CIDR 可以用来判断是不是本地。
动态主机配置协议（DHCP）
    DHCP 协议主要是用来给客户租用 IP 地址，和房产中介很像，要商谈、签约、续租，广播还不能“抢单"。
    DHCP 协议能给客户推荐“装修队”PXE，能够安装操作系统，这个在云计算领域大有用处。
预启动执行环境（PXE）
